// Bootstrap variables
@import "../vendor/bootstrap/scss/functions";
@import "../vendor/bootstrap/scss/variables";
@import "../vendor/bootstrap/scss/variables-dark";

// Theme variables
@import "variables";
@import "variables-dark";

// User variables
@import "user-variables";

// Bootstrap core
@import "../vendor/bootstrap/scss/bootstrap";

// Extended bootstrap utilities
@import "custom/utilities";
@import "../vendor/bootstrap/scss/utilities/api";

// Extended bootstrap components
@import "custom/accordion";
@import "custom/badge";
@import "custom/breadcrumb";
@import "custom/buttons";
@import "custom/card";
@import "custom/dropdowns";
@import "custom/list-group";
@import "custom/nav";
@import "custom/navbar";
@import "custom/pagination";
@import "custom/progress";
@import "custom/reboot";
@import "custom/type";
@import "custom/forms/form-check";
@import "custom/forms/form-control";

// Theme components
@import "components/general";
@import "components/avatar";
@import "components/utilities";
@import "components/sidebar";
@import "components/vendor/choices";
@import "components/vendor/swiper-slider";
@import "components/vendor/stepper";
@import "components/vendor/quill";

// Theme dark
@import "dark-mode";

// In this scss you can write your scss/css
@import "user";

.ql-toolbar.ql-snow {
  border: 0 !important;
  border-bottom: 1px solid #ccc !important;
}

.ql-container.ql-snow {
  border: 0 !important;
}

.popup-after {
  &::after {
    display: none;
  }
}

.no-before-icon.dropstart>.dropdown-toggle::before {
  content: none !important;
}

.no-after-icon.dropdown>.dropdown-toggle::after {
  content: none !important;
}

.no-button.dropdown>.dropdown-toggle::after {
  content: none !important;
}

/*!
 * bsStepper v1.7.0 (https://github.com/Johann-S/bs-stepper)
 * Copyright 2018 - 2019 Johann-S <johann.servoire@gmail.com>
 * Licensed under MIT (https://github.com/Johann-S/bs-stepper/blob/master/LICENSE)
 */
.bs-stepper .step-trigger {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: #6c757d;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: none;
  border-radius: .25rem;
  transition: background-color .15s ease-out, color .15s ease-out
}

.bs-stepper .step-trigger:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.bs-stepper .step-trigger.disabled,
.bs-stepper .step-trigger:disabled {
  pointer-events: none;
  opacity: .65
}

.bs-stepper .step-trigger:focus {
  color: #007bff;
  outline: 0
}

.bs-stepper .step-trigger:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, .06)
}

@media (max-width: 520px) {
  .bs-stepper .step-trigger {
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px
  }
}

.bs-stepper-label {
  display: inline-block;
  margin: .25rem
}

.bs-stepper-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center
}

@media (max-width: 520px) {
  .bs-stepper-header {
    margin: 0 -10px;
    text-align: center
  }
}

.bs-stepper .line,
.bs-stepper-line {
  -ms-flex: 1 0 32px;
  flex: 1 0 32px;
  min-width: 1px;
  min-height: 1px;
  margin: auto;
  background-color: rgba(0, 0, 0, .12)
}

@media (max-width: 400px) {

  .bs-stepper .line,
  .bs-stepper-line {
    -ms-flex-preferred-size: 20px;
    flex-basis: 20px
  }
}

.bs-stepper-circle {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  padding: .5em 0;
  margin: .25rem;
  line-height: 1em;
  color: #fff;
  background-color: #6c757d;
  border-radius: 1em
}

.active .bs-stepper-circle {
  background-color: #007bff
}

.bs-stepper-content {
  padding: 0 20px 20px
}

@media (max-width: 520px) {
  .bs-stepper-content {
    padding: 0
  }
}

.bs-stepper.vertical {
  display: -ms-flexbox;
  display: flex
}

.bs-stepper.vertical .bs-stepper-header {
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin: 0
}

.bs-stepper.vertical .bs-stepper-pane,
.bs-stepper.vertical .content {
  display: block
}

.bs-stepper.vertical .bs-stepper-pane:not(.fade),
.bs-stepper.vertical .content:not(.fade) {
  display: block;
  visibility: hidden
}

.bs-stepper .content:not(.fade),
.bs-stepper-pane:not(.fade) {
  display: none
}

.bs-stepper .content.fade,
.bs-stepper-pane.fade {
  visibility: hidden;
  transition-duration: .3s;
  transition-property: opacity
}

.bs-stepper .content.fade.active,
.bs-stepper-pane.fade.active {
  visibility: visible;
  opacity: 1
}

.bs-stepper .content.active:not(.fade),
.bs-stepper-pane.active:not(.fade) {
  display: block;
  visibility: visible
}

.bs-stepper .content.dstepper-block,
.bs-stepper-pane.dstepper-block {
  display: block
}

.bs-stepper:not(.vertical) .bs-stepper-pane.dstepper-none,
.bs-stepper:not(.vertical) .content.dstepper-none {
  display: none
}

.vertical .bs-stepper-pane.fade.dstepper-none,
.vertical .content.fade.dstepper-none {
  visibility: hidden
}

/*# sourceMappingURL=bs-stepper.min.css.map */


// 
// stepper.scss
// Vendor style override and new style added

.stepper-outline {

  .step-trigger:hover {
    background-color: transparent;
  }

  .bs-stepper-circle {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background-color: var(--#{$prefix}light);
    border: 2px solid var(--#{$prefix}gray-200);
    color: var(--#{$prefix}gray-400);
    line-height: 1.8rem;
  }

  .line {
    background-color: var(--#{$prefix}gray-200);
  }

  .bs-stepper-content {
    padding: 20px;
  }

  .step.active .bs-stepper-circle {
    color: var(--#{$prefix}gray-600);
    border: 2px solid var(--#{$prefix}gray-600);
    line-height: 1.8rem;
  }

  .step {
    .bs-stepper-label {
      margin: 0;
    }

    &.active .bs-stepper-label {
      color: var(--#{$prefix}primary);
    }
  }
}

.step-trigger {
  padding: 5px;

  &:hover {
    text-decoration: none;
    background-color: transparent;
  }
}


@include media-breakpoint-down(md) {
  .stepper-outline .bs-stepper-circle {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 1.4rem;
  }

  .stepper-outline .step.active .bs-stepper-circle {
    line-height: 1.6rem;
  }
}