// 
// utilities.scss
// Extended from Bootstrap
// 


$utilities: ();

$utilities: map-merge(
  (
    // Sizing utilities
    "min-width": (
      property: min-width,
      class: min-w,
      values: (
        auto: auto
      )
    ),

    // Sizing utilities
    "viewport-height": (
      property: height,
      class: vh,
      responsive: true,
      values: (
        100: 100vh
      )
    ),

    // Height pixels
    "height-px": (
      property: height,
      class: h,
      responsive: true,
      values: (
        20px: 20px,
        30px: 30px,
        40px: 40px,
        50px: 50px,
        80px: 80px,
        100px: 100px,
        150px: 150px,
        200px: 200px,
        500px: 500px,
      )
    ),

    // Width pixels   Remove comment code its check by PT
    "width-px": (
      property: width,
      class: w,
      responsive: true,
      values: (
        40: 40%,
        60: 60%,
        40px: 40px,
        50px: 50px,
        60px: 60px,
        70px: 70px,
        80px: 80px,
        150px: 150px,
      )
    ),

    // Background opacity
    "bg-opacity": (
      css-var: true,
      class: bg-opacity,
      values: (
        15: .15
      )
    ),
    
    // Fill color for SVG
    "fill-color": (
    property: fill,
    class: fill,
    values: map-merge($theme-colors, 
      (
        "white": $white,
        "body": var(--#{$prefix}body-bg),
        "mode": var(--#{$prefix}gray-900)
        )
      )
    ),

    // z index
    "z-index": (
      property: z-index,
      class: z-index,
      values: (
        0: 0,
        1: 1,
        9: 9,
        99: 99,
        n1: -1
      )
    ),

    //line height
    "line-height": (
      property: line-height,
      class: lh,
      values: (
        0: 0
      )
    ),

    // Opacity
    "opacity": (
      property: opacity,
      class: opacity,
      values: (
        0: 0,
        1: 0.1,
        2: 0.2,
        3: 0.3,
        4: 0.4,
        5: 0.5,
        6: 0.6,
        7: 0.7,
        8: 0.8,
        9: 0.9
      )
    ),


  ),
  $utilities
);